<template>
  <div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
      <li class="nav-item" v-if="getCurrentUser">
        <a class="nav-link" href="">Your Feed</a>
      </li>
      <li class="nav-item">
        <nuxt-link class="nav-link" :class="{'active': getTagType === 'all'}" to="/" @click.native="backToAllArticles('all')">Global Feed</nuxt-link>
      </li>
      <li class="nav-item" v-if="getTagType !== 'all'">
        <nuxt-link
          class="nav-link active"
          to="#"
        >
          {{ tagname }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  name: 'ArticleListNav',
  props: ['tagname'],
  data() {
    return {
      currentPage: 1,
      perPage: 20
    }
  },
  computed: {
    ...mapGetters('tags', ['getTagType']),
    ...mapGetters('auth', ['getCurrentUser'])
  },
  methods: {
    ...mapActions('tags', ['updateTagType']),
    ...mapActions('articles', ['getArticles']),
    backToAllArticles(tagType) {
      let filters = {
        limit: this.perPage,
        offset: (this.currentPage - 1) * this.perPage
      }
      this.updateTagType(tagType)
      this.getArticles(filters)
    }
  }
}
</script>
