<template>
  <div class="article-preview">
    <div class="article-meta">
      <nuxt-link :to="{ name: 'profile-username', params: { username: item.author.username }}">
        <img :src="item.author.image" />
      </nuxt-link>
      <div class="info">
        <nuxt-link :to="{ name: 'profile-username', params: { username: item.author.username }}" class="author">
          {{ item.author.username }}
        </nuxt-link>
        <span class="date" v-text="item.createdAt"></span>
      </div>
      <button
        class="btn btn-outline-primary btn-sm pull-xs-right"
        :class="{'active': item.favorited}"
        @click="handleFavoriteArticle({slug: item.slug, isFavorite: item.favorited})"
      >
        <i class="ion-heart"></i> {{ item.favoritesCount }}
      </button>
    </div>
    <nuxt-link :to="{ name: 'article-slug', params: { slug: item.slug }}" class="preview-link">
      <h1>{{ item.title }}</h1>
      <p>{{ item.description }}</p>
      <span>Read more...</span>
    </nuxt-link>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ArticleProfile',
  props: ['item', 'isProfileOrFav', 'filters'],
  methods: {
    ...mapActions('articles', ['postFavoriteArticle']),
    handleFavoriteArticle({slug, isFavorite = false}) {
      let token = localStorage.getItem('login')
      if(!token) {
        this.$router.push('/login')
        return
      }
      this.postFavoriteArticle({slug, config: this.filters, isFavorite, isProfileOrFav: this.isProfileOrFav})
    }
  }
}
</script>
