<template>
  <nav class="navbar navbar-light">
    <div class="container">
      <nuxt-link class="navbar-brand" to="/">conduit</nuxt-link>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <nuxt-link class="nav-link" active-class="active" exact to="/">Home</nuxt-link>
        </li>
        <template v-if="getCurrentUser.username">
          <li class="nav-item">
            <nuxt-link class="nav-link" active-class="active" :to="{ name: 'article-editor-create' }">
              <i class="ion-compose"></i>&nbsp;New Article
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" active-class="active" exact to="/settings">
              <i class="ion-gear-a"></i>&nbsp;Settings
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link :to="{ name: 'profile-username', params: { username: getCurrentUser.username} }" class="nav-link">
              {{ getCurrentUser.username }}
            </nuxt-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" v-on:click.prevent="logout()">Logout</a>
          </li>
        </template>
        <template v-else>
          <li class="nav-item">
            <nuxt-link class="nav-link" active-class="active" exact to="/login">Sign in</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" active-class="active" exact to="/register">Sign up</nuxt-link>
          </li>
        </template>
      </ul>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Header',
  computed: {
    ...mapGetters('auth', ['getCurrentUser'])
  },
  mounted() {
    this.getUserLogin()
  },
  methods: {
    ...mapActions('auth', ['getUserLogin', 'userLogout']),
    logout() {
      this.userLogout().then(() => {
        this.$router.push('/')
      });
    }
  }
}
</script>
