<template>
  <div class="profile-page">

    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <img :src="profile.image" class="user-img" />
            <h4>{{ profile.username }}</h4>
            <p>
              {{ profile.bio }}
            </p>
            <template v-if="profile.username !== getCurrentUser.username">
              <button
                v-if="!profile.following"
                class="btn btn-sm btn-outline-secondary action-btn"
                @click="followUser(profile.username)"
              >
                <i class="ion-plus-round"></i>
                &nbsp;
                Follow {{ profile.username }}
              </button>
              <button
                v-else
                class="btn btn-sm btn-outline-secondary action-btn"
                @click="unFollowUser(profile.username)"
              >
                <i class="ion-plus-round"></i>
                &nbsp;
                UnFollow {{ profile.username }}
              </button>
            </template>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <nuxt-link class="nav-link"
                  active-class="active"
                  exact :to="{ name: 'profile-username', params: { username: this.username }}"
                >
                  My Articles
                </nuxt-link>
              </li>
              <li class="nav-item">
                <nuxt-link class="nav-link"
                  active-class="active"
                  exact :to="{ name: 'profile-username-favorite', params: { username: this.username }}"
                >
                  Favorited Articles
                </nuxt-link>
              </li>
            </ul>
          </div>

          <div v-for="(item, index) in userArticles.articles" :key="index">
            <ArticleProfile :item="item" isProfileOrFav='favorite' :filters="filters" />
          </div>

          <Pagination :pages="pages" :currentPage="currentPage" @pageUpdate="currentPage = $event" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import ArticleProfile from '@/components/ArticleProfile'

export default {
  name: 'profile-username-favorite',
  data() {
    return {
      currentPage: 1,
      perPage: 3
    }
  },
  components: {
    Pagination,
    ArticleProfile
  },
  computed: {
    ...mapState('auth', ['profile']),
    ...mapGetters('auth', ['getCurrentUser']),
    ...mapState('articles', ['userArticles']),
    username() {
      return this.$route.params.username
    },
    pages() {
      return [...Array(Math.ceil(this.userArticles.articlesCount / this.perPage)).keys()].map(e => e + 1)
    },
    filters() {
      let filters = {
        favorited: this.username,
        limit: this.perPage,
        offset: (this.currentPage - 1) * this.perPage
      }
      return filters
    }
  },
  mounted() {
    this.getProfile(this.username)
    this.getArticleOfUser(this.filters)
  },
  methods: {
    ...mapActions('auth', ['getProfile', 'followUser', 'unFollowUser']),
    ...mapActions('articles', ['getArticleOfUser']),
  },
  watch: {
    '$route' () {
      this.getProfile(this.username)
      this.getArticleOfUser(this.filters)
    },
    currentPage(page) {
      this.filters.offset = (page - 1) * this.perPage
      this.getArticleOfUser(this.filters)
    }
  }
}
</script>
