<template>
  <div class="editor-page">
    <div class="container page">
      <div class="row">

        <div class="col-md-10 offset-md-1 col-xs-12">
          <ul class="error-messages" v-if="errors">
            <li v-for="(error, index) in errors" :key="index">
              {{ index }} {{ error }}
            </li>
          </ul>

          <form v-on:submit.prevent="submitArticle(currentArticle)">
            <fieldset>
              <fieldset class="form-group">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Article Title"
                  v-model="currentArticle.title"
                />
              </fieldset>
              <fieldset class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="What's this article about?"
                  v-model="currentArticle.description"
                />
              </fieldset>
              <fieldset class="form-group">
                <textarea
                  class="form-control"
                  rows="8"
                  placeholder="Write your article (in markdown)"
                  v-model="currentArticle.body"
                >
                </textarea>
              </fieldset>
              <fieldset class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter tags"
                  v-model="tagInput"
                  v-on:keypress.enter.prevent="addTag(tagInput)"
                />
                <div class="tag-list">
                <span
                  class="tag-default tag-pill"
                  v-for="(item, index) in currentArticle.tagList"
                  :key="index"
                >
                    <i class="ion-close-round" @click="removeTag(index)"></i>
                    {{ item }}
                  </span>
                </div>
              </fieldset>
              <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
                Publish Article
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  name: 'article-editor-slug',
  data() {
    return {
      article: {
        author: {},
        body: '',
        createdAt: '',
        description: '',
        favorited: false,
        favoritesCount: 0,
        slug: '',
        tagList: [],
        title: '',
        updatedAt: ''
      },
      tagInput: null
    }
  },
  computed: {
    ...mapState('articles', ['errors']),
    ...mapGetters('articles', ['getCurrentArticle']),
    currentArticle: function() {
      return {
        ...this.getCurrentArticle
      }
    }
  },
  mounted() {
    if(!localStorage.getItem('login')) {
      this.$router.push('/')
      return
    }
    this.getArticle(this.$route.params.slug)
  },
  methods: {
    ...mapActions('articles', ['getArticle', 'updateArticle', 'addTagList', 'removeTagList']),
    submitArticle(article) {
      let slug = this.$route.params.slug
      this.updateArticle({article, slug}).then((response) => {
        this.$router.push(`/article/${response.article.slug}`)
      })
    },
    addTag(tag) {
      this.addTagList(tag)
      this.tagInput = null
    },
    removeTag(index) {
      this.removeTagList(index)
    }
  }
}
</script>
