<template>
  <div class="home-page">
    <Banner />

    <div class="container page">
      <div class="row">
        <ArticleList :currentTag="currentTag" />
        <Tags @pageUpdateTag="currentTag = $event" />
      </div>
    </div>
  </div>
</template>

<script>
import Banner from '@/components/Banner'
import ArticleList from '@/components/ArticleList'
import Tags from '@/components/Tags'

export default {
  name: 'Home',
  data() {
    return {
      currentTag: null
    }
  },
  components: {
    Banner,
    ArticleList,
    Tags
  }
}
</script>
