<template>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">
            <router-link exact to="/login">Have an account?</router-link>
          </p>

          <ul class="error-messages" v-if="errors">
            <li v-for="(item, index) in errors" :key=index>
              {{ index }} {{ item }}
            </li>
          </ul>

          <form v-on:submit.prevent="register(user)">
            <fieldset class="form-group">
              <input
                v-model="user.username"
                name="username"
                class="form-control form-control-lg"
                type="text"
                placeholder="Your Name"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                v-model="user.email"
                name="email"
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                v-model="user.password"
                name="password"
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
              />
            </fieldset>
            <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Register',
  data() {
    return {
      user: {
        email: null,
        password: null,
        username: null
      }
    };
  },
  computed: {
    ...mapState('auth', ['errors'])
  },
  mounted() {
    if (localStorage.getItem('login')) {
      this.$router.push('/')
    }
  },
  methods: {
    ...mapActions('auth', ['registerMember']),
    register(user) {
      this.registerMember(user).then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>
